@model IEnumerable<FinanceManager.Models.Reports.AccountBalanceReportItem>
<link rel="stylesheet" href='../../Content/datatables.css' type="text/css" />
@{
    ViewBag.Title = "Account Balances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Expenditure Report", "ExpenditurePerCategoryPerPeriodReport")
</p>
<table class="table">
    <tr>
        <th> Account</th>
            @foreach (var item in Model)
            {
            <th>
                @Html.DisplayFor(modelItem => item.AccountName)
            </th>
        }
        </tr>
    <tr>
        <th scope="row">Balance</th>
        @foreach (var item in Model)
        {

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        }

    </tr>

</table>
