@model FinanceManager.Models.Reports.ExpenditurePerCategoryPerPeriodReport
<link rel="stylesheet" href='../../Content/datatables.css' type="text/css"/>
@{
    ViewBag.Title = "Expenditure Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Expenditure Report</h2>

<p>
    @Html.ActionLink("Account Balances", "AccountBalanceReport")
</p>

<table class="table">
<tr>
    <th>
        
    </th>
    @foreach (var period in Model.Periods)
    {
        <th >
            @Html.DisplayFor(periodItem => period)
        </th>
    }
  </tr>
 

 @foreach (var category in Model.Categories)
 {
     <tr>
         <th scope="row">
             @Html.DisplayFor(categoryItem => category)
         </th>
         @foreach (var period in Model.Periods)
         {
             var item = Model.GetAmount(period, category);
             <td style="text-align: right;">
                 @Html.DisplayFor(amount => item.Amount)
             </td>
         }
     </tr>
 }
 

</table>
